# Merge

In [44]:
# list
coupon_list_train = pd.read_csv('data/coupon_list_train.csv')
coupon_list_test = pd.read_csv('data/coupon_list_test.csv')

# area
coupon_area_train = pd.read_csv('data/coupon_area_train.csv')
coupon_area_test = pd.read_csv('data/coupon_area_test.csv')

# detail
coupon_purchases_train = pd.read_csv("data/coupon_detail_train.csv")

# visit
coupon_visit_train = pd.read_csv('data/coupon_visit_train.csv')

# user
user_list = pd.read_csv('data/user_list.csv')

In [67]:
train = pd.merge(coupon_visit_train, coupon_list_train,
                 left_on="VIEW_COUPON_ID_hash", right_on="COUPON_ID_hash")

train.tail(3)

,PURCHASE_FLG,PAGE_SERIAL,REFERRER_hash,VIEW_COUPON_ID_hash,USER_ID_hash,SESSION_ID_hash,PURCHASEID_hash,I_year,I_month,I_weekday,...,DISPEND,COUPON_ID_hash,DISPFROM_year,DISPFROM_month,DISPFROM_weekday,DISPFROM_hour,DISPEND_year,DISPEND_month,DISPEND_weekday,DISPEND_hour
2517203,1,18,6c5616ced18d79fa5a97c5c8f3e65f8f,c5907b1a49338c5d99a30464e2f78e75,a244c389efe3b009b3944f5af9287683,a87cb8e32d1a2fb4a887df8646ca6bea,4c3a26c5c8ca659dc1bb25dbb8e30f0c,2011,9,2,...,2011-09-07 12:00:00,c5907b1a49338c5d99a30464e2f78e75,2011,9,0,12,2011,9,2,12
2517204,0,21,ca74c177c2f1396bcf3661935c046a7a,c5907b1a49338c5d99a30464e2f78e75,a244c389efe3b009b3944f5af9287683,a87cb8e32d1a2fb4a887df8646ca6bea,NaN,2011,9,2,...,2011-09-07 12:00:00,c5907b1a49338c5d99a30464e2f78e75,2011,9,0,12,2011,9,2,12
2517205,0,13,7d3892e54acb559ae36c459978489330,c5907b1a49338c5d99a30464e2f78e75,a244c389efe3b009b3944f5af9287683,44e12c1d64cd4194ee015f64549fcc61,NaN,2011,9,3,...,2011-09-07 12:00:00,c5907b1a49338c5d99a30464e2f78e75,2011,9,0,12,2011,9,2,12

In [64]:
coupon_list_test.columns

Index(['CAPSULE_TEXT', 'GENRE_NAME', 'USABLE_DATE_MON', 'USABLE_DATE_TUE',
       'USABLE_DATE_WED', 'USABLE_DATE_THU', 'USABLE_DATE_FRI',
       'USABLE_DATE_SAT', 'USABLE_DATE_SUN', 'USABLE_DATE_HOLIDAY',
       'USABLE_DATE_BEFORE_HOLIDAY', 'large_area_name', 'ken_name',
       'small_area_name', 'PRICE_RATE', 'CATALOG_PRICE', 'DISCOUNT_PRICE',
       'DISPPERIOD', 'VALIDPERIOD', 'DISPFROM', 'DISPEND', 'COUPON_ID_hash',
       'DISPFROM_year', 'DISPFROM_month', 'DISPFROM_weekday', 'DISPFROM_hour',
       'DISPEND_year', 'DISPEND_month', 'DISPEND_weekday', 'DISPEND_hour'],
      dtype='object')

In [65]:
coupon_purchases_train.columns

Index(['ITEM_COUNT', 'SMALL_AREA_NAME', 'PURCHASEID_hash', 'USER_ID_hash',
       'COUPON_ID_hash', 'I_YEAR', 'I_MONTH', 'I_WEEKDAY', 'I_HOUR'],
      dtype='object')

In [56]:
train = pd.merge(coupon_list_train, coupon_purchases_train)
# train = pd.merge(train, coupon_visit_train)

test = pd.merge(coupon_list_test, coupon_purchases_train)
# test = pd.merge(test, coupon_visit_train)

In [60]:
coupon_list_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 30 columns):
CAPSULE_TEXT                  310 non-null object
GENRE_NAME                    310 non-null object
USABLE_DATE_MON               310 non-null float64
USABLE_DATE_TUE               310 non-null float64
USABLE_DATE_WED               310 non-null float64
USABLE_DATE_THU               310 non-null float64
USABLE_DATE_FRI               310 non-null float64
USABLE_DATE_SAT               310 non-null float64
USABLE_DATE_SUN               310 non-null float64
USABLE_DATE_HOLIDAY           310 non-null float64
USABLE_DATE_BEFORE_HOLIDAY    310 non-null float64
large_area_name               310 non-null object
ken_name                      310 non-null object
small_area_name               310 non-null object
PRICE_RATE                    310 non-null int64
CATALOG_PRICE                 310 non-null int64
DISCOUNT_PRICE                310 non-null int64
DISPPERIOD                    310 non-null int64
VALIDPERIOD                   310 non-null float64
DISPFROM                      310 non-null object
DISPEND                       310 non-null object
COUPON_ID_hash                310 non-null object
DISPFROM_year                 310 non-null int64
DISPFROM_month                310 non-null int64
DISPFROM_weekday              310 non-null int64
DISPFROM_hour                 310 non-null int64
DISPEND_year                  310 non-null int64
DISPEND_month                 310 non-null int64
DISPEND_weekday               310 non-null int64
DISPEND_hour                  310 non-null int64
dtypes: float64(10), int64(12), object(8)
memory usage: 72.7+ KB

In [57]:
train.tail()

,CAPSULE_TEXT,GENRE_NAME,USABLE_DATE_MON,USABLE_DATE_TUE,USABLE_DATE_WED,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,...,DISPEND_weekday,DISPEND_hour,ITEM_COUNT,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,I_YEAR,I_MONTH,I_WEEKDAY,I_HOUR
168991,Food,Food,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1,12,2,"Shinjuku, Takadanobaba Nakano - Kichijoji",58ef23252b59955ac06ef23ee92e7eb4,dd908a476011827e483f58ccdbed2a48,2011,7,6,7
168992,Food,Food,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1,12,2,"Shinjuku, Takadanobaba Nakano - Kichijoji",207c7c95b46920ee38d5c7e75e643e0d,e2266a567b2cdb790b60f545fab42943,2011,7,6,16
168993,Food,Food,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1,12,2,"Shinjuku, Takadanobaba Nakano - Kichijoji",81efc412608c19609a5b3cf240eaff86,9d0a7d2486917f2481e02d8dc17b261e,2011,7,6,21
168994,Food,Food,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1,12,2,"Shinjuku, Takadanobaba Nakano - Kichijoji",1ae285b432c244d3ec1162f625dcf699,f485bb08f977a4505a40c3d5d7cf56f0,2011,7,0,17
168995,Food,Food,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1,12,2,"Shinjuku, Takadanobaba Nakano - Kichijoji",cba2c927cbf7def09dff178a4363b386,780f796f1731c1738d1d437b8d89c26c,2011,7,6,9

In [58]:
test.tail()

Empty DataFrame
Columns: [CAPSULE_TEXT, GENRE_NAME, USABLE_DATE_MON, USABLE_DATE_TUE, USABLE_DATE_WED, USABLE_DATE_THU, USABLE_DATE_FRI, USABLE_DATE_SAT, USABLE_DATE_SUN, USABLE_DATE_HOLIDAY, USABLE_DATE_BEFORE_HOLIDAY, large_area_name, ken_name, small_area_name, PRICE_RATE, CATALOG_PRICE, DISCOUNT_PRICE, DISPPERIOD, VALIDPERIOD, DISPFROM, DISPEND, COUPON_ID_hash, DISPFROM_year, DISPFROM_month, DISPFROM_weekday, DISPFROM_hour, DISPEND_year, DISPEND_month, DISPEND_weekday, DISPEND_hour, ITEM_COUNT, SMALL_AREA_NAME, PURCHASEID_hash, USER_ID_hash, I_YEAR, I_MONTH, I_WEEKDAY, I_HOUR]
Index: []

[0 rows x 38 columns]

In [11]:
train_df = pd.merge(coupon_visit_train, coupon_list_train,
                    left_on="VIEW_COUPON_ID_hash", right_on="COUPON_ID_hash")

In [12]:
train_df.tail(3)

,PURCHASE_FLG,I_DATE,PAGE_SERIAL,REFERRER_hash,VIEW_COUPON_ID_hash,USER_ID_hash,SESSION_ID_hash,PURCHASEID_hash,CAPSULE_TEXT,GENRE_NAME,...,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,COUPON_ID_hash
2517203,1,2011-09-07 08:41:09,18,6c5616ced18d79fa5a97c5c8f3e65f8f,c5907b1a49338c5d99a30464e2f78e75,a244c389efe3b009b3944f5af9287683,a87cb8e32d1a2fb4a887df8646ca6bea,4c3a26c5c8ca659dc1bb25dbb8e30f0c,Relaxation,Relaxation,...,1.0,1.0,1.0,1.0,1.0,1.0,Shikoku,Tokushima Prefecture,Tokushima,c5907b1a49338c5d99a30464e2f78e75
2517204,0,2011-09-07 08:42:22,21,ca74c177c2f1396bcf3661935c046a7a,c5907b1a49338c5d99a30464e2f78e75,a244c389efe3b009b3944f5af9287683,a87cb8e32d1a2fb4a887df8646ca6bea,NaN,Relaxation,Relaxation,...,1.0,1.0,1.0,1.0,1.0,1.0,Shikoku,Tokushima Prefecture,Tokushima,c5907b1a49338c5d99a30464e2f78e75
2517205,0,2011-09-22 23:02:20,13,7d3892e54acb559ae36c459978489330,c5907b1a49338c5d99a30464e2f78e75,a244c389efe3b009b3944f5af9287683,44e12c1d64cd4194ee015f64549fcc61,NaN,Relaxation,Relaxation,...,1.0,1.0,1.0,1.0,1.0,1.0,Shikoku,Tokushima Prefecture,Tokushima,c5907b1a49338c5d99a30464e2f78e75

In [14]:
train_df = pd.merge(train_df, user_list,
                    left_on="USER_ID_hash", right_on="USER_ID_hash")

In [15]:
train_df.tail(3)

,PURCHASE_FLG,I_DATE,PAGE_SERIAL,REFERRER_hash,VIEW_COUPON_ID_hash,USER_ID_hash,SESSION_ID_hash,PURCHASEID_hash,CAPSULE_TEXT,GENRE_NAME,...,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,COUPON_ID_hash,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME
2517203,0,2011-11-24 01:42:33,7,16d6baf62216af5d3c00f7fae9b3b63f,5febdd370f0f8e64b9be29b418ab06c5,5fc8a0b419f579e539d28c63f3d44b7b,c8fe36e124025dfa8e9bf69ba20a44bb,NaN,Spa,Spa,...,1.0,Kyushu-Okinawa,Fukuoka Prefecture,Fukuoka,5febdd370f0f8e64b9be29b418ab06c5,2011-09-26 00:48:26,f,39,NaN,Fukuoka Prefecture
2517204,1,2011-08-02 20:58:06,7,6c5616ced18d79fa5a97c5c8f3e65f8f,7f7f124e5b2a82e1dd3453d21b3eba49,295ce0aacf52e06ecde42ae6b386aef4,819c00b621edd675903b7312094cd15d,357c8afd0683faa0d892cb081559c822,Spa,Spa,...,1.0,Kanto,Tokyo,"Shibuya, Aoyama, Jiyugaoka",7f7f124e5b2a82e1dd3453d21b3eba49,2010-11-11 21:24:29,f,25,NaN,NaN
2517205,1,2011-10-21 23:06:15,19,6c5616ced18d79fa5a97c5c8f3e65f8f,e94cbaf8b9848ad2c6b5bc243965f7c8,e497d37b6d8b78d3382177f43a9d22a6,e31e28d5c9f4c3f4ca77f19a1ff28c61,3dcf4ece4ace78dff5779e27ad7b682a,Hair salon,Hair salon,...,1.0,China,Okayama Prefecture,Okayama,e94cbaf8b9848ad2c6b5bc243965f7c8,2011-10-21 23:03:07,f,53,NaN,NaN

In [21]:
coupon_visit_train.isnull().any()

PURCHASE_FLG           False
I_DATE                 False
PAGE_SERIAL            False
REFERRER_hash          False
VIEW_COUPON_ID_hash    False
USER_ID_hash           False
SESSION_ID_hash        False
PURCHASEID_hash         True
dtype: bool

In [24]:
coupon_list_train.isnull().any()

CAPSULE_TEXT                  False
GENRE_NAME                    False
PRICE_RATE                    False
CATALOG_PRICE                 False
DISCOUNT_PRICE                False
DISPFROM                      False
DISPEND                       False
DISPPERIOD                    False
VALIDFROM                      True
VALIDEND                       True
VALIDPERIOD                    True
USABLE_DATE_MON                True
USABLE_DATE_TUE                True
USABLE_DATE_WED                True
USABLE_DATE_THU                True
USABLE_DATE_FRI                True
USABLE_DATE_SAT                True
USABLE_DATE_SUN                True
USABLE_DATE_HOLIDAY            True
USABLE_DATE_BEFORE_HOLIDAY     True
large_area_name               False
ken_name                      False
small_area_name               False
COUPON_ID_hash                False
dtype: bool

In [25]:
user_list.isnull().any()

REG_DATE         False
SEX_ID           False
AGE              False
WITHDRAW_DATE     True
PREF_NAME         True
USER_ID_hash     False
dtype: bool

In [20]:
train_df.isnull().any()

PURCHASE_FLG                  False
I_DATE                        False
PAGE_SERIAL                   False
REFERRER_hash                 False
VIEW_COUPON_ID_hash           False
USER_ID_hash                  False
SESSION_ID_hash               False
PURCHASEID_hash                True
CAPSULE_TEXT                  False
GENRE_NAME                    False
PRICE_RATE                    False
CATALOG_PRICE                 False
DISCOUNT_PRICE                False
DISPFROM                      False
DISPEND                       False
DISPPERIOD                    False
VALIDFROM                      True
VALIDEND                       True
VALIDPERIOD                    True
USABLE_DATE_MON                True
USABLE_DATE_TUE                True
USABLE_DATE_WED                True
USABLE_DATE_THU                True
USABLE_DATE_FRI                True
USABLE_DATE_SAT                True
USABLE_DATE_SUN                True
USABLE_DATE_HOLIDAY            True
USABLE_DATE_BEFORE_HOLIDAY     True
large_area_name               False
ken_name                      False
small_area_name               False
COUPON_ID_hash                False
REG_DATE                      False
SEX_ID                        False
AGE                           False
WITHDRAW_DATE                  True
PREF_NAME                      True
dtype: bool