In [12]:
a1 = pd.read_csv('data/season12.csv')
a2 = pd.read_csv('data/season13.csv')
a3 = pd.read_csv('data/season14.csv')
a4 = pd.read_csv('data/season15.csv')
a5 = pd.read_csv('data/season16.csv')
a6 = pd.read_csv('data/season17.csv', index_col = 0)
a7 = pd.read_csv('data/train.csv')

In [20]:
a1.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
755,Manchester United,64.6,6,15,779,601,15,20,5,2,5,2012,0,2
756,West Ham United,48.4,10,21,565,352,17,32,6,5,4,2012,1,1
757,Reading,51.6,6,17,551,369,15,26,4,0,2,2012,0,0
758,Wigan Athletic,54.0,4,17,683,512,25,22,4,2,2,2012,1,2
759,Aston Villa,46.0,3,8,625,432,15,13,2,4,2,2012,0,2

In [21]:
a2.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
755,Swansea City,46.7,4,8,548,344,23,32,3,3,3,2013,0,1
756,Tottenham Hotspur,54.7,6,12,739,556,17,18,5,7,3,2013,1,1
757,Aston Villa,45.3,1,4,639,461,17,20,1,0,0,2013,0,0
758,West Bromwich Albion,43.0,4,18,549,359,17,17,11,1,1,2013,1,0
759,Stoke City,57.0,4,14,698,496,18,30,6,3,2,2013,0,1

In [22]:
a3.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
755,Southampton,45.5,4,13,602,393,21,16,4,7,0,2014,0,0
756,Newcastle United,40.8,4,17,538,323,25,15,2,1,2,2014,1,1
757,West Ham United,59.2,1,4,687,486,17,31,3,3,0,2014,0,0
758,Stoke City,45.5,9,15,637,431,18,23,3,1,6,2014,1,1
759,Liverpool,54.5,4,13,689,514,20,17,9,1,1,2014,0,0

In [23]:
a4.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
755,Sunderland,45.8,4,6,547,346,20,39,4,4,2,2015,0,2
756,West Bromwich Albion,32.6,1,13,492,285,22,25,7,1,1,2015,1,2
757,Liverpool,67.4,3,7,813,612,23,23,5,0,1,2015,0,2
758,Manchester United,66.3,5,12,846,677,17,11,7,4,3,2015,1,1
759,AFC Bournemouth,33.7,0,7,510,342,16,10,1,2,1,2015,0,0

In [24]:
a5.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
755,Stoke City,39.0,3,14,510,319,16,29,10,2,1,2016,0,1
756,Swansea City,65.3,2,12,795,589,17,17,7,1,2,2016,1,1
757,West Bromwich Albion,34.7,5,16,500,316,18,24,4,0,1,2016,0,0
758,Watford,32.9,3,6,440,297,20,6,4,0,0,2016,1,0
759,Manchester City,67.1,9,15,789,620,19,13,5,2,5,2016,0,1

In [25]:
a6.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
755,Stoke City,42.2,5,8,607,407,22,43,0,5,2,2017,0,1
756,Tottenham Hotspur,64.6,6,14,662,473,18,17,4,2,5,2017,1,1
757,Leicester City,35.4,9,16,442,255,22,17,4,4,4,2017,0,0
758,West Ham United,56.6,4,15,652,478,11,20,6,4,3,2017,1,1
759,Everton,43.4,7,14,526,364,10,22,6,1,1,2017,0,0

In [26]:
a7.tail()

,Team,Possession,SOT,Shots,Touches,Passes,Tackles,Clearances,Corners,Offsides,Goal,Year,Home,Result
3795,Stoke City,39.0,3,14,510,319,16,29,10,2,1,2016,0,1
3796,Swansea City,65.3,2,12,795,589,17,17,7,1,2,2016,1,1
3797,West Bromwich Albion,34.7,5,16,500,316,18,24,4,0,1,2016,0,0
3798,Watford,32.9,3,6,440,297,20,6,4,0,0,2016,1,0
3799,Manchester City,67.1,9,15,789,620,19,13,5,2,5,2016,0,1

In [27]:
a1 = a1.rename(columns = { 'Shots on target' : 'SOT'})
a2 = a2.rename(columns = { 'Shots on target' : 'SOT'})
a3 = a3.rename(columns = { 'Shots on target' : 'SOT'})
a4 = a4.rename(columns = { 'Shots on target' : 'SOT'})
a5 = a5.rename(columns = { 'Shots on target' : 'SOT'})
a6 = a6.rename(columns = { 'Shots on target' : 'SOT'})
a7 = a7.rename(columns = { 'Shots on target' : 'SOT'})

In [ ]:
a1.to_csv('data/season12.csv')
a2.read_csv('data/season13.csv')
a3.read_csv('data/season14.csv')
a4 = pd.read_csv('data/season15.csv')
a5 = pd.read_csv('data/season16.csv')
a6 = pd.read_csv('data/season17.csv', index_col = 0)
a7 = pd.read_csv('data/train.csv')